doctype html
html(lang="en")
	head
		title="Login"
		style(type="text/css").
			#centered-box {
				width: 400px;
				height: 300px;
				border: 1px solid black;
				margin: auto;
			}
	body
		div(id="centered-box")


